@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.navbar-brand {
  font-family: 'Times New Roman', Times, serif;
  color: grey;
  font-size: 25px;
  margin: 0px;
}

.nav-link {
  /* font-family:'Times New Roman', Times, serif; */
  color: grey;
  font-size: 14px;
  margin: 0px;
  font-family: "Major Mono Display", monospace;
  font-weight: 600;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* Evitar scroll horizontal em qualquer página */
html,
body {
  overflow-x: hidden;
  width: 100%;
}

section {
  background-color: "#a0a0a0";
}

.titulos {
  font-family: 'Times New Roman', Times, serif;
  color: antiquewhite;

}

.card {
  border-radius: 20px;
  background: linear-gradient(90deg, #212529, #495057);
  color: antiquewhite;
  /* box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8); */
}

.style-card {
  /* background-color: #717171; */
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8); */

}

.background-degrade {
  background: linear-gradient(90deg, #212529, #495057);
  color: antiquewhite;

}

.style-card div {
  border-radius: 20px;
  background-color: #717171;

}

.style-card div div {
  border-radius: 20px;

}

.style-buttons {
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.green-to-white-hover {
  color: rgb(68, 212, 68);
  /* Initial text color */
}

.green-to-white-hover:hover {
  color: white;
  /* Text color on hover */
}

footer h1 {
  color:antiquewhite
}

footer p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}