{% extends 'base.html' %}
{% block content %}
    <h1>Bem-vindo à Barbearia</h1>
    <p>Nossos Planos</p>
    <div class="row g-4">
      {% for plano in planos %}
      <div class="col-md-4">
        <div class="card h-100 shadow-sm">
          {% if plano.imagem %}
          <img src="{{ plano.imagem.url }}" class="card-img-top" alt="{{ plano.nome }}" style="height: 200px; object-fit: cover;">
          {% endif %}
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ plano.nome }}</h5>
            <p class="card-text flex-grow-1">{{ plano.descricao|truncatewords:20 }}</p>
            <p class="fw-bold mt-3">R$ {{ plano.preco }}</p>
            <a class="btn btn-dark mt-auto">Comprar</a>
          </div>
        </div>
      </div>
      {% empty %}
      <p>Nenhum serviço cadastrado.</p>
      {% endfor %}
    </div>
{% endblock %}